{% extends "layouts/layout.html" %}
{% load static %}
{% block title %}Products - Online Store{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Our Products</h1>
            <a href="{% url 'products:manage_products' %}" class="btn btn-warning btn-lg">Manage Products</a>
        </div>

        {% for product in products %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>

                <img src="{{ product.image.url }}" class="card-img-top mb-3" alt="{{ product.name }}" style="max-width: 300px; height: auto;">
                <p class="card-text"><strong>${{ product.price }}</strong></p>
                <a href="{% url 'products:product_detail' product.id %}" class="btn btn-primary">Show</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}